.form{
    padding: 40px;
    font-family: 'Lustria', serif;
}
#form2{
    background-image: url(http://icons.iconarchive.com/icons/artcore-illustrations/artcore-4/512/github-icon.png);
    font-family: 'IM Fell English SC', serif;
}
