<div class="container-fluid" id="form2">
<form action="" class="form">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
  <input type="text" placeholder="search username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="userName" name="username" (keyup)="findUser()">
</div>
</form>
<div *ngIf="user">
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="card-header bg-primary">
        {{user.name}}
        </h1>
      </div>
      <div class="col-sm-3">
        <h1 class="card-header bg-success">
          Followers {{user.followers}}
        </h1>
      </div>
      <div class="col-sm-3">
          <h1 class="card-header bg-info">
            Following {{user.following}}
          </h1>
        </div>
    </div>
  </div>
    <div class="card-body">
      <div class="row">
      <div class="col-sm-6">
        <img src="{{user.avatar_url}}" class="rounded float-left">
      </div>
      <div class="col-sm-6 align-items-right">
          <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                USER LOGIN NAME
                <span class="badge badge-primary badge-pill">{{user.login}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Followers
                <span class="badge badge-primary badge-pill">{{user.followers}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Following
                <span class="badge badge-primary badge-pill">{{user.following}}</span>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Number of repositories
              <span class="badge badge-primary badge-pill">{{user.public_repos}}</span>
            </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            User Id
            <span class="badge badge-primary badge-pill">{{user.id}}</span>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="card-title bg-success text-center" >
      <h4>Repositories</h4>
    </div>
    <div class="card-body" *ngFor="let repo of repos">
        <ul class="list-group">
            <a href="{{repo.html_url}}" class="list-group-item list-group-item-action">{{repo.name}}</a>
          </ul>
          </div>
</div>
</div>
</div>